 
/* ---------------------------
        Styles or utilities
----------------------------- */
/*------------- Fonts -------------*/
body{
      font-family: 'Poppins', sans-serif;
}
/*-------------------------
      Header styles
------------------------- */
.top-side{
      display: flex;
      background-color:  navy;
      height: 600px;
}
.header img{
      width: 480px;
      height: 410px;
      padding-top: 100px;
      padding-left: 30%;
}

.heading{
      color: #ffffff;
      font-size: 50px;
      font-weight: 700;
      padding-left: 10%;
      padding-top: 10%;
}
/* -------------------------
         Animation styles
---------------------------- */
.animation{
      animation: colour-change 3s ease-in-out 0.5s  infinite;
}
@keyframes colour-change{
      0%{
            background-color: navy;
      } 
      25%{
            background-color: darkblue;
      }
      50%{
            background-color: rgb(50, 7, 90);
      }
      75%{
            background-color: blue;
      }
      100%{
            background-color: rgb(45, 45, 197);
      }
}
      
/* --------------------------
           PLayers styles
---------------------------- */
.players{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 10px;
      margin-top: 30px;
}
.top-players{
      padding-left: 180px;
      padding-right: 210px;
}
.fa-arrow-right{
      font-size: 20px;
}
.player img{
      width: 270px;
      height: 240px;
      border-left: 5px;
}
.player{
     padding: 10px;
     margin: 15px;
     box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
 
}
/* -------------------------
         Button style
--------------------------- */
.button{
      text-decoration: none;
      background-image: linear-gradient(rgba(228, 99, 84, 0.904),#E02C6D );
      padding: 5px 10px;
      color: white;
      font-size: 20px;
      font-weight: 500;
}
/* --------------------------
        Highlights styles
----------------------------- */
 .extra-section1{
       display: flex;
 }
.images2{
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 2%;
      margin-right: 7%;
      padding: 10px;
      box-shadow: 0 0 5px;
 }
.images2 img{
      width: 310px;
      height: 236px;
}
.highlights{
      display: flex;
}
.section1 h1{
      font-size: 40px;
}
.section1{
      padding-left: 12%;
}
.image1 img{
      width: 560px;
      height: 420px;
      padding-left: 10%;    
}     
/* -------------------------------
       Gallary section styles
---------------------------------- */
.section2{
      font-size: 25px;
      padding-top: 80px;
      padding-left: 30px;
}
.gallary-img img{
      width: 350px;
      height: 320px;
      padding:20px;
}
/* ------------------------
     Font awesome styles
 -------------------------- */
.icons{
      font-size: 25px;
      text-align: center;
}
.fa-arrow-right{
      font-size: 20px;
}
/* -----------------------
         Footer style
-------------------------- */
.footer-img img{
      width: 400px;
      padding-left: 35%;
      padding-top: 10%;
}
#copywrite{
      text-align: center;
      padding-bottom: 40px;
}
/* -------------------------
         Media Queries
 --------------------------- */
 /*--------------- For Mobile device ----------------*/
 @media only screen and (max-width: 688px) {
      * {
            box-sizing: border-box;
          }
          .heading{
                padding-left: 0;
          }
          .top-players{
                padding-top: 100px;
                padding-left: 0;
          }
          .extra-section1{
                flex-direction: column;
          }
          .image1 img{
            width: 380px ;
            padding-top: 10px;
            padding-left: 0;
      }
       .container{
             width: 100%;
       }
.top-side, .top-players, .extra-section1, .highlights, .gallary, .footer{
      grid-template-columns: repeat(1, 1fr);
}
.players{
      grid-template-columns: repeat(1, 1fr);
}
.top-side, .player, .images2, .highlights, .gallary, .footer{
      flex-direction: column;
     
}
       }