 
/* ---------------------------
        Styles or utilities
----------------------------- */
body{
      font-family: 'Poppins', sans-serif;
}

/* --------------------------
           PLayers styles
---------------------------- */
.top-side{
      display: flex;
      background-color:  navy;
      height: 520px;
}
.header img{
      width: 480px;
      height: 410px;
      padding-top: 70px;
}

.heading{
      color: #ffffff;
      font-size: 30px;
      font-weight: 700;
     padding-left: 10%;
     padding-top: 5%;
}
      

.players{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 10px;
      margin-top: 30px;
}
.container{
      padding-left: 180px;
      padding-right: 210px;
}
.player img{
      width: 270px;
      height: 240px;
      border-left: 5px;
}
.player{
     padding: 10px;
     margin: 15px;
     box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
 
}
 .extra-section1{
       display: flex;
 }

.images2{
      margin-left: 2%;
      margin-right: 3%;
      margin-top: 5%;
      margin-bottom: 5%;
      padding: 10px;
      box-shadow: 0 0 5px;
     }
.images2 img{
      width: 310px;
      height: 236px;
}
.highlights{
      display: flex;
}
.image1 img{
      width: 560px;
      height: 420px;
    
}
.gallary-img img{
      width: 350px;
      height: 300px;
      padding: 20px;

      
}
 